@keyframes slide {
	0% {
		left: 0%;
	}

	20% {
		left: 0%;
	}

	25% {
		left: -100%;
	}

	45% {
		left: -100%;
	}

	50% {
		left: -200%;
	}

	70% {
		left : -200%;
	}

	75% {
		left: -300%;
	}

	95% {
		left: -400%;
	}

	100% {
		left: -400%;
	}
}

#slideshow {
	overflow: hidden;

}

#slideshow figure img {
	float: left;
	width: 20%;
}

#slideshow figure {
	animation: 20s slide infinite;
	font-size: 0;
	left: 0;
	margin: 0;
	position: relative;
	text-align: left;
	width: 500%;	
}


.slider_img {
	border-top: 1px solid gray;
	height: 20rem;
	overflow: hidden;
	width: 5rem;
}

@media only screen and (max-width: 768px)
{
	.slider_img {
	border-top: 1px solid gray;
	height: 5rem;
	overflow: hidden;
	width: 5rem;
	}
}